BASE_URL=/
DEFAULT_LANG=fr

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=caramagnols
DB_USER=caramagnols
DB_PASSWORD=changeme
DB_CHARSET=utf8mb4

MAIL_SMTP_HOST=localhost
MAIL_SMTP_PORT=1025
MAIL_SMTP_USER=
MAIL_SMTP_PASSWORD=
MAIL_SMTP_ENCRYPTION=
MAIL_FROM_ADDRESS=contact@example.com
MAIL_FROM_NAME="Les Caramagnols"
