<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheResult="false"
    cacheDirectory="var/phpunit"
    beStrictAboutCoverageMetadata="false"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Les Caramagnols Backend">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">core</directory>
            <directory suffix=".php">config</directory>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
